# Environment variables required to restore local secrets for andre-krc-core

AGENTS_ALEX_AUTH_PROFILES_PROFILES_OPENROUTER_DEFAULT_KEY={{AGENTS_ALEX_AUTH_PROFILES_PROFILES_OPENROUTER_DEFAULT_KEY}}
AGENTS_CONTENTWRITER_AUTH_PROFILES_PROFILES_OPENROUTER_DEFAULT_KEY={{AGENTS_CONTENTWRITER_AUTH_PROFILES_PROFILES_OPENROUTER_DEFAULT_KEY}}
AGENTS_DONALD_AUTH_PROFILES_PROFILES_OPENROUTER_DEFAULT_KEY={{AGENTS_DONALD_AUTH_PROFILES_PROFILES_OPENROUTER_DEFAULT_KEY}}
AGENTS_MANAGER_AUTH_PROFILES_PROFILES_OPENROUTER_DEFAULT_KEY={{AGENTS_MANAGER_AUTH_PROFILES_PROFILES_OPENROUTER_DEFAULT_KEY}}
AGENTS_RESEARCH_AUTH_PROFILES_PROFILES_OPENROUTER_DEFAULT_KEY={{AGENTS_RESEARCH_AUTH_PROFILES_PROFILES_OPENROUTER_DEFAULT_KEY}}
AGENTS_TASKLIST_AUTH_PROFILES_PROFILES_OPENROUTER_DEFAULT_KEY={{AGENTS_TASKLIST_AUTH_PROFILES_PROFILES_OPENROUTER_DEFAULT_KEY}}
AGENTS_TOMMY_AUTH_PROFILES_PROFILES_OPENROUTER_DEFAULT_KEY={{AGENTS_TOMMY_AUTH_PROFILES_PROFILES_OPENROUTER_DEFAULT_KEY}}
AGENTS_TRANSCRIPTSCRAPER_AUTH_PROFILES_PROFILES_OPENROUTER_DEFAULT_KEY={{AGENTS_TRANSCRIPTSCRAPER_AUTH_PROFILES_PROFILES_OPENROUTER_DEFAULT_KEY}}
CREDENTIALS_GOOGLE_DRIVE_INSTALLED_TOKEN_URI={{CREDENTIALS_GOOGLE_DRIVE_INSTALLED_TOKEN_URI}}
FATHOM_API_KEY={{FATHOM_API_KEY}}
FATHOM_WEBHOOK_SECRET={{FATHOM_WEBHOOK_SECRET}}
GOG_KEYRING_PASSWORD={{GOG_KEYRING_PASSWORD}}
GOOGLE_DRIVE_CLIENT_SECRET={{GOOGLE_DRIVE_CLIENT_SECRET}}
META_SYSTEM_USER_TOKEN={{META_SYSTEM_USER_TOKEN}}
OPENCLAW_CHANNELS_TELEGRAM_ACCOUNTS_ALEX_BOTTOKEN={{OPENCLAW_CHANNELS_TELEGRAM_ACCOUNTS_ALEX_BOTTOKEN}}
OPENCLAW_CHANNELS_TELEGRAM_ACCOUNTS_BOB_BOTTOKEN={{OPENCLAW_CHANNELS_TELEGRAM_ACCOUNTS_BOB_BOTTOKEN}}
OPENCLAW_CHANNELS_TELEGRAM_ACCOUNTS_CAPTAINHOOK_BOTTOKEN={{OPENCLAW_CHANNELS_TELEGRAM_ACCOUNTS_CAPTAINHOOK_BOTTOKEN}}
OPENCLAW_CHANNELS_TELEGRAM_ACCOUNTS_CONTENTWRITER_BOTTOKEN={{OPENCLAW_CHANNELS_TELEGRAM_ACCOUNTS_CONTENTWRITER_BOTTOKEN}}
OPENCLAW_CHANNELS_TELEGRAM_ACCOUNTS_DEFAULT_BOTTOKEN={{OPENCLAW_CHANNELS_TELEGRAM_ACCOUNTS_DEFAULT_BOTTOKEN}}
OPENCLAW_CHANNELS_TELEGRAM_ACCOUNTS_DONALD_BOTTOKEN={{OPENCLAW_CHANNELS_TELEGRAM_ACCOUNTS_DONALD_BOTTOKEN}}
OPENCLAW_CHANNELS_TELEGRAM_ACCOUNTS_JIMMY_BOTTOKEN={{OPENCLAW_CHANNELS_TELEGRAM_ACCOUNTS_JIMMY_BOTTOKEN}}
OPENCLAW_CHANNELS_TELEGRAM_ACCOUNTS_MARK_BOTTOKEN={{OPENCLAW_CHANNELS_TELEGRAM_ACCOUNTS_MARK_BOTTOKEN}}
OPENCLAW_CHANNELS_TELEGRAM_ACCOUNTS_R2_BOTTOKEN={{OPENCLAW_CHANNELS_TELEGRAM_ACCOUNTS_R2_BOTTOKEN}}
OPENCLAW_CHANNELS_TELEGRAM_ACCOUNTS_TASKLIST_BOTTOKEN={{OPENCLAW_CHANNELS_TELEGRAM_ACCOUNTS_TASKLIST_BOTTOKEN}}
OPENCLAW_CHANNELS_TELEGRAM_ACCOUNTS_TOMMY_BOTTOKEN={{OPENCLAW_CHANNELS_TELEGRAM_ACCOUNTS_TOMMY_BOTTOKEN}}
OPENCLAW_CHANNELS_TELEGRAM_ACCOUNTS_TRANSCRIPTSCRAPER_BOTTOKEN={{OPENCLAW_CHANNELS_TELEGRAM_ACCOUNTS_TRANSCRIPTSCRAPER_BOTTOKEN}}
OPENCLAW_GATEWAY_AUTH_TOKEN={{OPENCLAW_GATEWAY_AUTH_TOKEN}}
OPENROUTER_TOKEN={{OPENROUTER_TOKEN}}
OPENROUTER_API_KEY={{OPENROUTER_API_KEY}}
